 
.header-bg {
    background-color: #970b0b;
}

button {
    border: none;
    background: none;
    color: white;
    transition: background 0.3s;
}

.buttons button:hover,
.search button.search-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.buttons i.bi-person-circle {
    vertical-align: middle;
}

.bilgi-logo {
    height: 100px;
}

.bg-menu {
    background-color: #681414;
}

/* Search input styles */
.search input {
    border-radius: 200px;
}

.search input::placeholder {
    color: #aaa;
}

.search button.search-btn {
    border-radius: 20px;
    margin-left: 5px;
}

.search input:focus::placeholder {
    color: transparent;
}

/* Button styles */
.custom-btn {
    background-color: #b11111;
    border-color: #b11111;
    color: white;
}

.buttons a:hover {
    color: #f8f9fa;
    text-decoration: underline;
}

.buttons a {
    color: white;
    text-decoration: none;
    margin-right: 10px; 
    transition: color 0.3s ease;
}

 
.list-group-item {
    border-color: var(--primary-color);
    background-color: var(--secondary-color); 
    margin-bottom: 30px;  
}

#requestsContainer {
    max-height: 400px;  
    overflow-y: auto; 
}


@media (min-width: 768px) {
  
    .list-group-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
        justify-content: space-between; 
    }

    .list-group-item .info-container {
        flex-basis: 60%;
    }

    .list-group-item .info-container h5,
    .list-group-item .info-container small {
        font-size: 25234px;
    }

    .list-group-item .info-container p {
        font-size: 20px;
    }

    .list-group-item .buttons-container {
        flex-basis: 40%; 
        display: flex;
        justify-content: flex-end; 
        flex-wrap: wrap; 
    }

    .list-group-item button {
        font-size: 14px; 
        width: auto;
        margin-bottom: 5px; 
    }
}


@media (max-width: 767px) {
    .list-group-item .buttons-container {
        margin-left: auto; 
    }
}

.custom-modal-size {
    max-width: 170px; 
    width: 80%;
}
a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
}
:root{

    --primary-color:black;
    --secondary-color:white;

}
.dark-theme{
   transition: 0.4s;
    --primary-color:white;
--secondary-color:black;

    }
body{
 background-color: var(--secondary-color);
}
#listing-2{
    background-color: #681414;
    border-color: #970b0b;
}
